//font
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
	box-sizing: border-box;
}

body {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
}
h2 {
	margin-top: 0;
	text-transform: uppercase;
	width: 100%;
}
.wrapper {
	text-align: center;
	margin: 0 auto;
	background: #fcfcfc;
	max-width: 1000px;
	@media screen and (min-width: 768px) {
		text-align: left;
		padding: 20px;
	}
}
.employees {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 100%;
	margin: 0 auto;
	.employee {
		width: 250px;
		flex-grow: 1;
		flex-basis: 30%;
		background: #fcfcfc;
		margin: 1rem;
		padding: 10px;
		border-radius: 5px;
		border: 1px solid #dfdfdf;
		cursor: pointer;
		@media screen and (min-width: 768px) {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: space-around;
			.employee-img {
				width: 64px;
				margin: auto;
				img {
					width: 100%;
				}
			}
			.employee-information {
				margin: auto auto auto 10px;
				text-align: left;
			}
		}
	}
}
.employee-name,
.employee-city {
	text-transform: capitalize;
}
.employee-name {
	font-weight: bold;
}
.employee-email {
	word-wrap: break-word;
	margin: 0 auto;
}

.employee img {
	border-radius: 50%;
	max-width: 100%;
}